@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap');
//font
$fontFamily: 'Source Sans Pro', sans-serif;

//colors
$black: #000000;

$darkblue: #00487c;
$darkgrey: #666;
$dayblue: #0496ff;
$dayred: #f14545;

$grey: #e2e6f1;

$lightblue: #96a5cc;
$lightgreen: #1a936f;

$mediumblue: #1460aa;

$orange:#E59400;

$violet: #3c359b;
$white: #ffffff;


//resolution for media query
$telephone: 640px;

//link style hover
$hoverStyleLink: $orange solid 2px;  