
.article {
  max-width: 43.75rem;
  margin: 4rem auto 1rem;
  
  &__footer {
    padding: 1.5rem;
    font-style: italic;
    color: $violet;
  }

  &__paragraph {
    color: $white;
    line-height: 2rem;
    padding: 0;
  }

  &__picture {
    width: 100%;
    max-width: 200px;
    display: block;

    &--left {
      float: left;
      margin: 2rem;
    }

    &--right {
      float: right;
      margin: 2rem;
    }
  }

  &__title {
    color: $white;
    padding: 1.5rem 0 0 0;
    
  }
}