@import "_normalize";
@import "_variables";
@import "day";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $lightblue;
  background: $black;
  color: black;
  font-family: $fontFamily;
}

.header {
  grid-area: header;
  &__title {
    color: $white;
    margin-bottom: 1rem;
  }
}

.site-header {
  background: $navy;
  box-sizing: border-box;
  left: 0;
  padding: .5rem;
  position: fixed;
  width: 100%;
  top: 0;

  @media (max-width: $telephone) {
    min-height: 3rem;
  }
}

.navigation {
  &__list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    @media (max-width: $telephone) {
      flex-direction: column;
      display: none;
      &--visible {
        display: flex;
      }
    }
  }

  &__item {
    display: block;
    margin: 0 1rem;
    @media (max-width: $telephone) {
      margin: 1rem;
    }
  }

  &__link {
    color: $grey;
    text-decoration: none;

    &:hover {
      color: $orange;
      border-bottom: $hoverStyleLink; 
    }
  }
  &__switcher {

    @media (min-width: $telephone) {
      display: none;
    }

    @media (max-width: $telephone) {
      border: none;
      background: none;
      position: absolute;
      right: 1rem;
      top: 1rem;
      color: $white;
    }
  }
}

.main {
  grid-area: content;
  display: grid;
  grid-template-areas:
    "header header"
    "about diary";
    grid-template-columns: 0.7fr 1.3fr;
  grid-gap: 1rem;
  max-width: 43.75rem;
  margin: 4rem auto;
 

  @media (min-width: $telephone) {
    max-width: 56.25rem;
    padding: 0 1rem;
  }

  @media (max-width: $telephone) {
    grid-template-areas:
      "header header"
      "about diary";
      grid-template-columns: 1fr;
    padding: 0 1rem;
  }
}

.about {
  margin: 0.2rem;
  grid-area: about;

  &__header {
    color: $white;
  }

  &__link {
    color: $orange;
    text-decoration: none;
    
    &:hover {
      border-bottom: $hoverStyleLink;
    }
  }

  &__picture {
    width: 100%;
    max-width: 6.25rem;
    border-radius: 1rem;
    display: block;
    float: left;
    margin: 0.5rem 0.5rem 0 0;

  }

  &__paragraph {
    background-color: $navy;
    border-radius: 1rem;
    color: $white;
    line-height: 2rem;
    padding: 0.5rem;

    &--mini {
      font-size: 0.5rem;
    }
  }
}

.diary {
  grid-area: diary;
  display: grid;
  grid-template-areas:
    "headerDay headerDay"
    "day day";
  grid-column: 1fr 1fr;

  &__header {
    grid-area: headerDay;
    text-align: center;
    color: $white;
  }

  @media (max-width: $telephone) {
    grid-template-areas:
      "headerDay"
      "day";
    grid-column: 1fr;
  }
}

.day {
  padding: 0.5rem;
  background: $navy;
  color: $white;
  margin: 0.2rem;
  border-radius: 0.5rem;
  grid-area: day day;
  width: 98%;

  &__header {
    color: $lightgreen;
    background: $black;
    border-radius: 0.2rem;
    padding: 0.3rem;
    margin: 0 0 0.5rem 0;
    font-size: 1rem;
    &--weekend {
      color: $dayred;
    }
  }

  &__link {
    color: $orange;
    text-decoration: none;
    float: right;
    &:hover {
      color: $orange;
      border-bottom: $hoverStyleLink; 
    }
  }

  &__paragraph {
    padding: 0;
    margin: 0;
    line-height: 1.5rem;
  }
}

.article {
  max-width: 43.75rem;
  margin: 4rem auto 1rem;
  
  &__footer {
    padding: 1.5rem;
    font-style: italic;
    color: $violet;
  }

  &__paragraph {
    color: $white;
    line-height: 2rem;
    padding: 0;
  }

  &__picture {
    width: 100%;
    max-width: 200px;
    display: block;

    &--left {
      float: left;
      margin: 0 1rem 1rem 0;
    }

    &--right {
      float: right;
      margin: 0 0 0 1rem;
    }
  }

  &__title {
    color: $white;
    padding: 1.5rem 0 0 0;
    
  }
}

.footer {
  position: fixed;
  width: 100%;
  padding: 0.5rem;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  background-color: $navy;
  color: $white;
}