@import "_normalize";
@import "_variables";
@import "day";

html {
  box-sizing: border-box;
  
}

*,
*:before,
*:after {
  box-sizing: inherit;

}

body {
  background-color: $lightblue;
  background: $black;
  color: black;
  font-family: $fontFamily;

}

.header {
  grid-area: header;

  &__title {
    color: $white;
    margin-bottom: 1rem;

    @media (max-width: $telephone) {
      margin: 2rem auto;
      width: 75%;

    }

  }

  @media (max-width: $telephone) {
    grid-area: header;

  }

}

.site-header {
  background: $navy;
  box-sizing: border-box;
  left: 0;
  padding: .5rem;
  position: fixed;
  width: 100%;
  top: 0;

  @media (max-width: $telephone) {
    min-height: 3rem;

  }

}

.navigation {

  &__list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;

    @media (max-width: $telephone) {
      flex-direction: column;
      display: none;

      &--visible {
        display: flex;

      }

    }

  }

  &__item {
    display: block;
    margin: 0 1rem;

    @media (max-width: $telephone) {
      margin: 1rem;

    }

  }

  &__link {
    color: $grey;
    text-decoration: none;

    &:hover {
      color: $orange;
      text-decoration: underline;

    }

  }

  &__switcher {

    @media (min-width: $telephone) {
      display: none;

    }

    @media (max-width: $telephone) {
      border: none;
      background: none;
      position: absolute;
      right: 1rem;
      top: 1rem;
      color: $white;

    }

  }

}

.main {
  grid-area: content;
  display: grid;
  grid-template-areas:
    "header header"
    "about diary";
  grid-template-columns: 0.7fr 1.3fr;
  grid-gap: 1rem;
  max-width: 43.75rem;
  margin: 4rem auto;

  @media (max-width: $telephone) {
    display: flex;
    flex-direction: column;
    padding: 0 0.2rem;

  }

}

.about {
  margin: 0.2rem;
  grid-area: about;

  @media (max-width: $telephone) {
    display: flex;
    flex-direction: column;
    margin: 1.5rem auto;
    width: 75%;

  }

  &__header {
    color: $white;

    @media (max-width: $telephone) {
      text-align: center;

    }

  }

  &__link {
    color: $orange;
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;

    }

  }

  &__picture {
    width: 100%;
    max-width: 6.25rem;
    border-radius: 1rem;
    display: block;
    float: left;
    margin: 0.5rem 0.5rem 0 0;

    @media (max-width: $telephone) {
      border-radius: 1.5rem;
      margin: 0.5rem 1.5rem 0 0;

    }

  }

  &__paragraph {
    background-color: $navy;
    border-radius: 1rem;
    color: $white;
    line-height: 2rem;
    padding: 0.5rem;

    @media (max-width: $telephone) {
      border-radius: 1.5rem;
      padding: 1.5rem;

    }

    &--mini {
      font-size: 0.5rem;

    }

  }

}

.diary {
  grid-area: diary;
  display: grid;
  grid-template-areas:
    "headerDay headerDay"
    "day day";
  grid-column: 1fr 1fr;

  @media (max-width: $telephone) {
    grid-area: header;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    
  }

  &__header {
    grid-area: headerDay;
    text-align: center;
    color: $white;

  }

}

.day {
  padding: 0.5rem;
  background: $navy;
  color: $white;
  margin: 0.2rem;
  border-radius: 0.5rem;
  grid-area: day day;
  width: 98%;

  @media (max-width: $telephone) {
    padding: 1.5rem 1.5rem;
    border-radius: 1.5rem;
    margin: 0.5rem auto;
    grid-area: day;
    width: 75%;
    align-content: center;

  }

  &__header {
    color: $lightgreen;
    background: $black;
    border-radius: 0.2rem;
    padding: 0.3rem;
    margin: 0 0 0.5rem 0;
    font-size: 1rem;

    @media (max-width: $telephone) {
      border-radius: 1.5rem;
      padding: 1rem;

    }

    &--weekend {
      color: $dayred;

    }

    
  }

  &__link {
    color: $orange;
    text-decoration: none;
    float: right;

    &:hover {
      text-decoration: underline;
      
    }

  }

  &__paragraph {
    padding: 0;
    margin: 0;
    line-height: 1.5rem;

    @media (max-width: $telephone) {
      text-align: center;
      line-height: 2.5rem;

    }

  }

}

.footer {
  position: fixed;
  width: 100%;
  padding: 0.5rem;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  background-color: $navy;
  color: $white;

}